.page {
	display: flex;
}

/* CATALOG */
.catalog {
	width: calc(100% - 400px);
}
.items__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	grid-gap: 5px;
}

.item {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	border-radius: 5px;
	transition: all 0.2s;
}
.item:hover {
	background: var(--bg-black);
	box-shadow: 0 0 10px var(--bg-black);
	transform: scale(105%);
}
.item__image {
	width: 100%;
}
.item__img {
	object-fit: cover;
	width: 100%;
	border-radius: 5px;
}

.item__country {
	font-size: 12px;
	color: var(--text-100);
}
.item__name {
	font-size: 14px;
	color: var(--text);
}

/* FILTERS */
.filters {
	position: fixed;
	right: 0;
	width: 400px;
}
.filters__list {
	position: relative;
	padding: 10px;
	border-radius: 10px;
	/* overflow: hidden; */
}
.list__item,
.filter__reset-all {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	color: var(--text);
	cursor: pointer;
	transition: all 0.2s;
}

.list__item:hover,
.filter__reset-all:hover {
	background: var(--hover-btn);
}

.list__item-image {
	position: absolute;
	top: calc(50% - 8px);
	right: 3px;
}
.filter__reset-all {
	text-align: center;
	color: var(--text-error);
}

.list__item-text {
	position: relative;
	padding-right: 30px;
}

/* FILTER-TOOLS */
.filter__block {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 100%;
	width: 100%;
	/* max-height: 150%; */
	padding: 10px;
	border-radius: 10px;
	background: var(--bg-block2);
	transition: all 0.4s;
	/* overflow: hidden; */
	/* overflow-y: auto; */
	/* overflow-x: auto; */
}

.filter__nav {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
}
.filter__btn {
	padding: 5px 15px;
	border-radius: 5px;
	background: transparent;
}
.filter__btn:hover {
	background: var(--hover-btn);
}
.filter__close {
	color: var(--text);
}
.filter__reset {
	color: var(--text-error);
}
.filter__content {
	padding: 10px 0;
	overflow: auto;
}
.filter__scroll {
	overflow: auto;
}
.filter__item {
	transition: all 0.2s;
}
.filter__item:hover {
	background: var(--hover-btn);
}

.filter__false-checkbox {
	display: none;
}
.filter__text {
	display: flex;
	align-items: center;
	padding: 10px 10px;
	color: var(--text);
	cursor: pointer;
}
.filter__checkbox {
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	border: 2px solid #f5f5f5;
	border-radius: 3px;
	transition: all 0.2s;
}
.filter__checkbox-shadow {
	visibility: hidden;
	position: absolute;
	top: calc(50% - 16px);
	left: calc(50% - 16px);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: white;
	opacity: 0;
	transition: all 0.2s;
}
.filter__checkbox:hover > .filter__checkbox-shadow {
	visibility: visible;
	opacity: 0.4;
}
.filter__checkbox-line {
	display: none;
	position: absolute;
	height: 1.5px;
	background: var(--bg-black, #000);
}
.filter__checkbox-line:nth-child(2) {
	transform: rotate(45deg);
	left: calc(50% - 6.4px);
	top: calc(50% + 1.2px);
	width: 6px;
}
.filter__checkbox-line:nth-child(3) {
	transform: rotate(-45deg);
	left: calc(50% - 3.8px);
	top: calc(50% - 0.5px);
	width: 11px;
}
