:root {
	--text: #ececec;
	--text-50: #bbbbbb;
	--text-100: #a5a5a5a5;
	--text-300: #959595;

	--bg-black: #000;
	--bg-header: #212531;
	/* --bg-main: #1f2129; */
	--bg-block1: #1f2129;
	--bg-block2: #130c1d;
	--bg-footer: #3e364a;
	--button: #1976d2;
	--setting: #272727;
	--orange: #ff9800;
}

/* .book {
	color: rgb(19, 12, 29);
} */
