/* FOOOTER */
.footer {
	background: #1b1c22;
	border-top: 1px solid #bbbbbb;
}

.footer__inner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.footer__block {
	width: calc(90% / 4);
	padding: 10px;
}

.footer__block-header {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.footer__block-header:hover .footer__title {
	color: #ffffff;
}

.footer__title {
	text-transform: uppercase;
	font-size: 16px;
	color: var(--text);
}

.footer__title-img {
}

.footer__block-body {
	display: none;
	flex-direction: column;
	gap: 5px;
}

.footer__contacts-body {
	display: flex;
}

.footer__link {
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 0;
	color: #bbbbbb;
	transition: all 0.2s;
}

.footer__link:hover {
	color: #0041ce;
}

.footer__image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	color: #bbbbbb;
	transition: all 0.2s;
}

.footer__image:hover {
	color: #eeeeee;
}

.footer__name {
	color: var(--text);
}

.contact__img {
	width: 30px;
	height: 30px;
}

.footer__contacts-body {
	gap: 5px;
}

.footer__list {
	transition: all 1s;
}
