.popular__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, 160px);
	grid-gap: 10px;
	justify-content: center;
}
.popular__filter {
	position: relative;
	background: transparent;
	font-size: 24px;
	font-weight: 700;
	border: none;
	color: var(--text);
	cursor: pointer;
	appearance: menulist;
}

.popular__option {
	color: var(--text);
	background: var(--bg-block1);
	font-weight: 700;
	font-size: 20px;
}
