/* MAIN */
.main {
	position: relative;
}

/* TOP-USERS */

.title2 {
	color: #f5f5f5;
	border-bottom: 2px solid #ffa332;
	margin-bottom: 5px;
}

.top-users__container {
	position: relative;
	display: flex;
	gap: 10px;
	overflow: auto;
	user-select: none;
}

.top-users__container::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.top-user {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	font-size: 14px;
	color: var(--text-50, #a5a5a5);
	animation: move 10s ease-in-out 10s infinite normal backwards;
}

@keyframes move {
	5% {
		transform: translate(-30px, 0);
	}
	10% {
		transform: translate(5px, 0);
	}
	15% {
		transform: translate(0, 0);
	}
}

.top-user:not(:last-child) {
	border-right: 1px solid #7a7a7a;
	padding-right: 10px;
}

.top-user__inner {
	display: flex;
	gap: 10px;
	margin-bottom: 5px;
}

.top-user__avatar {
	width: 40px;
	height: 40px;
	object-fit: cover;
}
.top-user__description {
	display: flex;
	flex-direction: column;
	flex: auto;
}
.top-user__username {
	position: relative;
	padding-right: 20px;
	font-weight: 700;
	color: #dddddd;
}

.top-user__position {
	position: absolute;
	top: 0;
	right: 0;
	color: #dddddd;
}
.top-user__lvl {
	position: relative;
	font-size: 12px;
}

.top-user__lvl-num {
	content: '3';
	position: absolute;
	top: 0;
	right: 0;
}

.top-user__bar {
	position: relative;
	width: 100%;
	height: 15px;
	background: #c0c0c0;
}
.top-user__progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #1976d2;
}

.top-user__exp {
	position: relative;
	z-index: 1;
	text-align: center;
	font-size: 10px;
	font-weight: 700;
	color: #000;
}

/* POPULAR */

.popular {
}

.slider__line {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

.slider__item {
	width: 160px;
	height: 300px;
	position: absolute;
	top: 0;
	/* transition: all ease-in-out 1s; */
}
.item__link {
	height: 240px;
	cursor: pointer;
}
.item__image {
	height: 215px;
}
.item__img {
	width: 100%;
	height: 215px;
	object-fit: cover;
	border-radius: 5px;
}
.item__country {
	display: inline-block;
	position: relative;
	font-size: 12px;
	color: #959595;
}
.item__country::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	right: -17px;
	top: calc(50% - 6px);
	background-image: url(/img/star-fill.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.item__name {
	font-size: 14px;
	color: #f5f5f5;
}

#sliderNovelties {
	width: 80vw;
	margin: 0 auto;
}

/* UPDATES */

.updates {
}

.updates__content {
	display: grid;
	grid-template-columns: repeat(2, minmax(450px, 1fr));
	grid-template-rows: auto;
	row-gap: 10px;
	column-gap: 20px;
	margin: 0 50px;
	padding-bottom: 50px;
}
.update__item-link {
	display: flex;
	gap: 15px;
	padding: 10px;
	border-radius: 10px;
	background: var(--bg-block2);
	transition: all 0.2s;
}
.update__item-link:hover {
	background: #1c122a;
}
.update__img {
	width: 100px;
	height: 137px;
	object-fit: cover;
	border-radius: 3px;
}
.update__body {
	display: flex;
	flex-direction: column;
	flex: auto;
}
.update__header {
	background: #000;
}
.update__title {
	position: relative;
	font-size: 18px;
	padding-right: 100px;
	color: var(--text);
}
.update__time {
	position: absolute;
	top: 4px;
	right: 0;
	font-size: 14px;
	color: #7a7a7a;
}
.update__book-type {
	position: relative;
	font-size: 12px;
	color: #7a7a7a;
}
.update__translation {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	color: #0041ce;
}
.update__chapter {
	font-size: 14px;
	color: var(--text);
}
